.ipynb_checkpoints/*
Gruplama ve Toplulaştırma İşlemleri/.ipynb_checkpoints/*
Pandas Dataframe/.ipynb_checkpoints/*
Pandas Serileri/.ipynb_checkpoints/*
Gruplama ve Toplulaştırma İşlemleri/reading_data/*
Gruplama ve Toplulaştırma İşlemleri/reading_data-master.zip